button {
  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 300px;


  input {
    width: 100%;

    border: none;
    border-bottom: solid 2px $color-grey;

    line-height: 2rem;
    font-family: $font-primary;
    font-size: 16px;

    &:focus {
      outline: none;
      border-color: $color-dark-grey;
    }
  }
}

.form-edit-pwd {
  height: 450px;
}

.form-create {
  *[class^="col-"] {
    margin: 10px;
  }

  input {
    padding: 10px;
    border: none;
    border-bottom: solid 1px $color-grey;

    &:focus {
      outline: none;
      border-color: $color-dark-grey;
    }
  }
}


.btn-create {
  padding: 10px 25px;
  width: 150px;

  border: none;
  border-radius: 5px;
  background-color: $color-info;

  font-family: $font-primary;
  font-size: 13px;
  font-weight: 700;
  color: $color-white;

  cursor: pointer;
}

.btn-pwd {
  color: $color-dark-grey;

  cursor: pointer;
}

.btn-edit {
  padding: 5px 20px;
  background-color: $color-grey;
  border-radius: 5px;
  border: none;

  transition: .3s;

  &:hover {
    background-color: $color-dark-grey;
    cursor: pointer;
  }
}

.btn-prev,
.btn-next {
  margin: 1px;
  padding: 8px;
  background-color: $color-info;
  border: none;
}

.btn-prev {
  padding-left: 12px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn-next {
  padding-right: 12px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pwd-danger {
  color: $color-danger;
  font-size: 14px;
}

.pagination {
  position: absolute;
  right: 30px;
  *[class^="icon-"] {
    font-size: 14px;
  }
}