.page-login{
    .input-helper{
        color: $color-danger;
        font-size: 12px;
        margin-top: 10px;
        // display: block;
    }

    .form-login {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 300px;
      
        input {
            width: 300px;      
            border: none;
            border-bottom: solid 2px $color-grey;

            line-height: 2rem;
            font-family: $font-primary;
            font-size: 16px;

            background-color: inherit;

            &:focus {
                outline: none;
                border-color: $color-dark-grey;
            }
        }
      }
}
