.btn {
  padding: 5px;
  font-size: 18px;
  &:hover {
    cursor: pointer;
  }
}

button {
  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

select {
  border: none;
}

.formContainer {
  position: fixed;
  right: 30px;
  top: 40%;

  padding: 10px;
  background-color: $color-grey;
  border-radius: 10px;
  z-index: 101;

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
  }

  select {
    padding: 6px;
    background-color: $color-white;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 300px;

  input {
    width: 100%;

    border: none;
    border-bottom: solid 2px $color-grey;

    line-height: 2rem;
    font-family: $font-primary;
    font-size: 16px;

    &:focus {
      outline: none;
      border-color: $color-dark-grey;
    }
  }
}

.form-edit-pwd {
  height: 450px;
}

.form-create {
  *[class^="col-"] {
    margin: 10px;
  }

  input {
    padding: 10px;
    border: none;
    border-bottom: solid 1px $color-grey;

    &:focus {
      outline: none;
      border-color: $color-dark-grey;
    }
  }
}

.btn-create {
  padding: 10px 25px;
  width: 150px;

  border: none;
  border-radius: 5px;
  background-color: $color-info;

  font-family: $font-primary;
  font-size: 13px;
  font-weight: 700;
  color: $color-white;
  text-align: center;

  cursor: pointer;
}

.btn-pwd {
  color: $color-dark-grey;

  cursor: pointer;
}

.btn-edit {
  padding: 5px 20px;
  background-color: $color-grey;
  border-radius: 5px;
  border: none;

  transition: 0.3s;

  &:hover {
    background-color: $color-dark-grey;
    cursor: pointer;
  }
}

.btn-prev,
.btn-next {
  margin: 1px;
  padding: 8px;
  background-color: $color-info;
  border: none;
}

.btn-prev {
  padding-left: 12px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn-next {
  padding-right: 12px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pwd-danger {
  color: $color-danger;
  font-size: 14px;
}

.pagination {
  position: absolute;
  right: 30px;

  *[class^="icon-"] {
    font-size: 14px;
  }
}

// Planning
.input-filter {
  display: none;
}

.input-filter:checked + label {
  background-color: $color-info;
  color: $color-white;
}

.btn-filter {
  padding: 10px 5px;
  margin: 2px;
  min-width: 25%;
  background-color: $color-grey;
  border-radius: 5px;
  border: none;

  transition: 0.3s;

  font-size: 9px;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background-color: $color-dark-grey;
    cursor: pointer;
  }
}

.btn-priority {
  padding: 5px;
  background-color: $color-grey;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.priority-active {
  background-color: $yellow;
}

.btn-supp {
  width: 20px;
  height: 20px;
  background-color: $color-danger;
  border: none;
}
.btn-add-visit {
  position: fixed;
  top: 80%;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: $color-info;
  border-radius: 50%;
  z-index: 100;

  &:hover {
    background-color: $bluelink;
    cursor: pointer;
  }


span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 2px;

  transform: translate(-50%, -50%);

  background-color: $color-white;
}


span:nth-child(2) {
  transform: rotate(-90deg);
  top: 24px;
  left: 17px;
}
}
