.table-header {
  font-weight: 700;

  *[class^="col-"] {
    padding: 10px 0;
    padding-left: 16px;
  }
}

.table-container {
  *[class^="col-"] {
    padding: 10px 0;
    padding-left: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.table-header,
.table-container {
  font-size: 14px;

  .row {
    border-bottom: solid 1px $color-grey;
  }
}

.header-list {
  *[class^="icon-"] {
    font-size: 30px;
    margin-right: 10px;
  }

  font-size: 14px;
}

.icon-info {
  padding: 4px;
  font-size: 16px;
}