#Sidebar {
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: white;
    padding: 50px 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn-create {
        margin-top: 20px;
    }

    .profile {
        border-bottom: 1px solid rgba(0, 0, 0, 0.24);
        padding-bottom: 27px;

        .user {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            align-items: center;
            margin-bottom: 15px;

            .userImg {
                height: 50px;
                width: 50px;
                border-radius: 10px;
                background-color: $main-grey;
                margin-right: 10px;
            }

            .userInfos {
                display: flex;
                flex-direction: column;

                .userName {
                    font-weight: bold;
                }
            }

        }
    }

    .separator {
        padding-top: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.24);

    }


    nav {
        padding: 15px 0;

        a {
            display: flex;
            align-items: center;
            padding: 12px 0;
            color: $bluelink;

            &.active {
                color: $yellow;

                .icon:before {
                    color: $greydark;
                }
            }

            .icon {
                font-size: 20px;
                margin-right: 20px;
            }
        }
    }
}

.sidebar{
    &__logout{
        background: none;
        border: none;
        color: $color-danger;
        display: flex;
        align-items: center;
        padding: 0;
        margin-top: 20px;

        .icon{
            margin-right: 10px;
        }
    }

    &__create-planning{
        margin-top: 20px;
        width: 100%!important
    }
}