@font-face {
  font-family: 'Julaya';
  src:  url('../../fonts/Julaya.eot?d0mvi6');
  src:  url('../../fonts/Julaya.eot?d0mvi6#iefix') format('embedded-opentype'),
    url('../../fonts/Julaya.ttf?d0mvi6') format('truetype'),
    url('../../fonts/Julaya.woff?d0mvi6') format('woff'),
    url('../../fonts/Julaya.svg?d0mvi6#Julaya') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Julaya' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shield:before {
  content: "\e900";
}
.icon-edit:before {
  content: "\e901";
}
.icon-add:before {
  content: "\e902";
}
.icon-calendar:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e905";
}
.icon-copy:before {
  content: "\e908";
}
.icon-delete:before {
  content: "\e907";
}
.icon-support:before {
  content: "\e909";
}
.icon-info:before {
  content: "\e90f";
}
.icon-arrow-left:before {
  content: "\e910";
}
.icon-arrow-right:before {
  content: "\e911";
}
.icon-planning:before {
  content: "\e912";
}
.icon-dashboard:before {
  content: "\e913";
}
.icon-lock:before {
  content: "\e915";
}
.icon-upload:before {
  content: "\e916";
}
.icon-pending:before {
  content: "\e917";
}
.icon-user:before {
  content: "\e918";
}
.icon-arrow-down:before {
  content: "\e91b";
}
.icon-arrow-up:before {
  content: "\e91c";
}
.icon-more-horiz:before {
  content: "\e91d";
}
.icon-more-vert:before {
  content: "\e91e";
}
.icon-add1:before {
  content: "\e90a";
}
.icon-place:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e91f";
}
.icon-magnifying-glass:before {
  content: "\e920";
}
.icon-download:before {
  content: "\e933";
}
.icon-gear:before {
  content: "\e953";
}
.icon-agents:before {
  content: "\e95b";
}
.icon-hotel:before {
  content: "\e940";
}
.icon-notification:before {
  content: "\e93d";
}
.icon-alert-filled:before {
  content: "\e93e";
}
.icon-alert-outline:before {
  content: "\e93f";
}
