@font-face {
  font-family: 'icomoon';
  src: url('../../fonts/icomoon.eot?rx4tho');
  src: url('../../fonts/icomoon.eot?rx4tho#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?rx4tho') format('truetype'),
    url('../../fonts/icomoon.woff?rx4tho') format('woff'),
    url('../../fonts/icomoon.svg?rx4tho#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-prev:before {
  content: "\e905";
  color: #fff;
}

.icon-next:before {
  content: "\e906";
  color: #fff;
}

.icon-planning:before {
  content: "\e900";
  color: #c2cfe0;
}

.icon-vehicles:before {
  content: "\e901";
  color: #c2cfe0;
}

.icon-home:before {
  content: "\e902";
  color: #c2cfe0;
}

.icon-agents:before {
  content: "\e903";
  color: #c2cfe0;
}

.icon-hotels:before {
  content: "\e904";
  color: #c2cfe0;
}