html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 30px 0 10px 20px;
  font-size: 34px;
}

.row {
  position: relative;
  align-items: center;
  display: flex;
}

.justify-center {
  justify-content: center;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



.content {
  width: calc(100% - 310px);
}

.col-12 {
  width: 100%;
}

.col-8 {
  width: 60%;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 40%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 20%;
}

.bg-blue {
  color: $color-white;
  font-weight: 600;
  background-color: $color-info !important;
}

.d-none {
  display: none;
}

.card {
  margin: 20px;
  padding: 10px;
  min-height: 50px;
  width: 100%;

  border-radius: 10px;
  background-color: $color-white;
}