/* COLOR */
$main-grey      : #F6F5F5;
$color-info     : #109CF1;
$color-success  : #27AE60;
$yellow         : #FFB946;
$color-danger   : #EF3E36;
$color-white    : #ffffff;
$color-grey     : #E9E9E9;
$color-dark-grey: #9FA5AB;
$color-black    : #000000;
$bluelink       : #334D6E;
$greydark       : #8E9599;
$color-primary  : #00528C;

/* FONTS */
$font-primary:    'Poppins', sans-serif;
