@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/resource-timeline/main.css';
@import '~@fullcalendar/timeline/main.css';

@import './base/reset';
@import './base/vars';
@import './base/mixins';
@import './base/layouts';
@import './base/icomoon';

// SHARED
@import '../shared/sidebar.scss';

.pop-in {
  position: absolute;
  display: none;
  width: 200px;
  height: 200px;
  background-color: red;
  z-index: 10;
  right: 0;
}

.active {
  display: block;
}

#App {
  display: flex;
  flex-wrap: nowrap;
  background-color: $main-grey;
}

 a {
   text-decoration: none;
   color: black;
 }
