/* CALENDAR */
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/resource-timeline/main.css';
@import '~@fullcalendar/timeline/main.css';

/* BASE */
@import './base/reset';
@import './base/vars';
@import './base/mixins';
@import './base/layouts';
@import './base/icomoon';

/* COMPONENTS */
@import './components/sidebar';
@import './components/forms';
@import './components/table';
@import './components/modals';
@import './components/calendar';

.pop-in {}

.active {
  display: block;
}

.logo {
  height: 30px;
}

#App {
  display: flex;
  flex-wrap: nowrap;
  background-color: $main-grey;
}

a {
  text-decoration: none;
  color: black;
}


.badnote,
.moyennote,
.goodnote {
  border-radius: 33px;
  width: 49px;
  padding: 5px 5px !important;
  text-align: center;
}

.badnote {
  background-color: #ff000061;

}

.goodnote {
  background-color: #33ff0061
}

.moyennote {
  background-color: rgba(245, 165, 35, 0.304)
}

.fc-title {
  padding: 2px;
  mix-blend-mode: color-dodge !important;
}